<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <link rel="stylesheet" th:href="@{/css/button.css}">
</head>
<body>
<h1>Панель администратора</h1>
<br>
<a th:href="@{/author/create}" class="button-link">Добавить автора</a>
<br>
<a th:href="@{/genre/create}" class="button-link">Добавить жанр</a>
<br>
<a th:href="@{/book/create}" class="button-link">Добавить книгу</a>
<br><br>
<a th:href="@{/}" class="button-link">На главную</a>

</body>
</html>