<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить автора</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="center-container">
    <h1 class="main-heading">Добавить автора</h1>

    <form th:action="@{/author/create}" th:object="${author}" method="post" class="registration-form">
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>

        <button type="submit" class="submit-btn">Добавить</button>
    </form>
    <div class="link-group">
    <a th:href="@{/admin}" class="button-link">Назад</a>
    <a th:href="@{/}" class="button-link">На главную</a>
    </div>
</div>
</body>
</html>
