<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все книги</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="center-container-books">
    <h1 class="main-heading">Список книг</h1>

    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Дата публикации</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}">[название]</td>
            <td th:text="${book.author.name}">[автор]</td>
            <td th:text="${book.genre.name}">[жанр]</td>
            <td th:text="${book.published}">[дата]</td>
        </tr>
        </tbody>
    </table>
    <div class="link-group">
    <a th:href="@{/}" class="button-link">На главную</a>
    </div>
</div>
</body>
</html>
