a {
    color: #007bff; /* синий */
    text-decoration: none; /* убрать подчёркивание */
    font-weight: bold;
    transition: color 0.2s ease;
}

a:hover {
    color: #0056b3; /* темно-синий при наведении */
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
    margin: 30px;
}
label {
    display: block;
    margin-top: 15px;
}
.select2-container {
    width: 300px !important;
}
button {
    background-color: #4CAF50; /* зелёный */
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* чуть темнее при наведении */
}
button:active {
    transform: scale(0.96);
}
button {
    margin-top: 10px; /* или margin: 10px 0; для вертикальных отступов */
}

a.button-link {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

a.button-link:hover {
    background-color: #0b7dda;
}
a.button-link {
    margin-top: 10px;
    display: inline-block; /* чтобы margin-top работал */
}

.input-with-button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.mini-button {
    display: inline-block;
    padding: 6px 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.mini-button:hover {
    background-color: #218838;
    text-decoration: none;
}
