<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="home-container">
    <h1 class="home-heading">Добро пожаловать в библиотеку</h1>

    <div class="home-link-group">
        <a th:href="@{/book/all}" class="home-button">Список книг</a>

        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin}" class="home-button">Панель администратора</a>
        </div>

        <a th:href="@{/logout}" class="home-button">Выйти</a>
    </div>
</div>
</body>
</html>
